<div>
  <input 
    type="text" 
    [(ngModel)]="searchTerm" 
    placeholder="Search " 
    style="margin-bottom: 20px;"
  />
</div>
<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Age</th>
        <th>Phone</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of filteredEmployees" >
        <td>{{ employee.name }}</td>
        <td>{{ employee.id }}</td>
        <td [appHighlight]="employee.age">{{ employee.age }}</td>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.address }}</td>
      </tr>
    </tbody>
  </table>
  
