<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Age</th>
        <th>Phone</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees" 
          [ngClass]="{'highlight-orange': employee.age < 28, 'highlight-yellow': employee.age > 42}">
        <td>{{ employee.name }}</td>
        <td>{{ employee.id }}</td>
        <td>{{ employee.age }}</td>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.address }}</td>
      </tr>
    </tbody>
  </table>
  
